# Maven build
/backend/target/

# Spring Boot output
backend/*.jar
backend/*.original

# IDEs
*.iml
.idea/
.vscode/

# Logs
*.log
logs/

# Sistema
.DS_Store

# Archivos sensibles o locales
.env

# Docker volumes (si se usan)
db/data/
